@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Luckiest+Guy&display=swap');

html, body{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
}

body {
    font-family: "Luckiest Guy", Lato, serif;
}

.home{
    height: 100vh;
}

.container-fluid h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color:white;
}

.container-fluid p{
    font-family: Lato;
    color: rgba(255, 255, 255, 0.6);
}


.rounded{
    width: 12rem;
    object-fit: cover; 
}


.singleImg{
    width: 13rem;
    height: 12.5rem;
    object-fit: cover;
}

.card-img-top:hover{
    border: 1px solid black;
}

figcaption p,
.randomWeb p {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
}

.project {
    display: none;
} 

.project{
    flex-direction: column;
    background-color: white;
}


#footer {
    color: rgba(255, 255, 255, 0.6);
}

.hide{
    display: none;
}


.display{
    display:flex;
}


